<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection"></link>
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"></link>

</head>
<body>
<h1>CADASTRO DE PESSOA</h1>

<form action="salvarpessoa" method="post">

<label>Nome:</label>
<input name="nome"></input>

<label>Sobrenome:</label>
<input name="sobreNome"></input>

<label>Idade:</label>
<input name="idade"></input>

<a class="waves-effect waves-light btn"><input type="submit" value="Salvar"></input></a>

<br/>
<br/>



</form>

<a href="listapessoas">Listar Pessoas</a>

<table>
<tr th:each = "pessoa : ${pessoas}">
	<td th:text = "${pessoa.id}"></td>
	<td th:text = "${pessoa.nome}"></td>
	<td th:text = "${pessoa.sobreNome}"></td>
	<td th:text = "${pessoa.idade}"></td>
</tr>
</table>


<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>
</html>